<div class="container p-3 col-md-8">
  <h1>Her er alle sprøsmål til temaen</h1>
  <div *ngIf="!select">
    <div *ngIf="laster">Laster sprøsmål list.....</div>
    <div class="container p-3 my-3 border">
      <div *ngFor="let spm of allSpm">
        <p (click)="spmSelect(spm.id)">{{spm.question}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="select" class="container p-3 my-3 border">
    <div *ngFor="let spm of allSpm">
      <div *ngIf="spm.id == selectId">
        <p>{{spm.question}}</p>
      </div>
    </div>
  </div>
</div>
